<% include ./common/_meta.ejs %>
<title>添加用户</title>

</head>
<body>
<article class="page-container">
	<form action="" method="post" action="/addmember" class="form form-horizontal" id="form-member-add" name="form-member-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学号或者工号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入学生的学号或者老师的工号" id="accountno" name="accountno">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类别：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="permission" class="select">
					
					<option value="1">学生</option>
					<option value="2">勤工系统管理员</option>
					<option value="0">超级管理员</option>

				</select>
				</span> 
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button class="btn btn-primary radius" type="submit" id="submit"><i class="Hui-iconfont">&#xe632;</i> 添加</button>
				
				<button class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</article>

<% include ./common/_footer.ejs %>

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">
    $(document).ready(function(){    
        $("#form-member-add").validate({  
            rules: {  
                accountno: {  
                    required: true  
                },  
                permission:{  
                    required: true            
                }  

            },  
            messages: {  
                accountno: {  
                    required: "请输入学号或者工号"  
                },  
                permission: {  
                    required: "请选择分类"  
                }
            }
             
        });  
    });  

</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>