<% include ./common/_meta.ejs %>
<title>首页</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用事务中心后台管理系统！</p>
	
	<!-- <p>上次登录IP：222.35.131.79.1  上次登录时间：2014-6-14 11:19:55</p> -->
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">事务统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>已解决</th>
				<th>待解决</th>
				<!-- <th>产品库</th>
				<th>用户</th>
				<th>管理员</th> -->
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>92</td>
				<td>9</td>
				<!-- <td>0</td>
				<td>8</td>
				<td>20</td> -->
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td>0</td>
				<td>0</td>
			<!-- 	<td>0</td>
				<td>0</td>
				<td>0</td> -->
			</tr>
			<tr class="text-c">
				<td>昨日</td>
				<td>0</td>
				<td>0</td>
				<!-- <td>0</td>
				<td>0</td>
				<td>0</td> -->
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td>2</td>
				<td>0</td>
			<!-- 	<td>0</td>
				<td>0</td>
				<td>0</td> -->
			</tr>
		</tbody>
	</table>
	
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>Copyright &copy;深圳大学事务中心 All Rights Reserved.<br>
			本后台系统由<a href="http://chengyetech.com/" target="_blank">诚也科技</a>提供技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script> 

</body>
</html>